{% extends "base.html" %}

{% block title %}Home — SHOPPING APP{% endblock %}

{% block content %}
<div class="container">
  <h2 class="section-title">Trending Products</h2>

  <div class="product-grid">
    {% for p in products %}
      <div class="card">
        <div class="placeholder"></div>
        <h3 class="prod-title">{{ p.name }}</h3>
        <p class="price">₹{{ p.price }}</p>
        <div class="card-actions">
          <a class="btn outline" href="{{ url_for('product_detail', pid=p.id) }}">View</a>

          <form action="{{ url_for('add_to_cart') }}" method="POST" class="inline-form">
            <input type="hidden" name="product_id" value="{{ p.id }}">
            <button class="btn">Add to Cart</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
